<section>
    <div class="container">
        <h3>Дополнительное <br class="show-md" />оборудование для бизнеса</h3>

        <div class="row">
            {% for key in equipment %}
            <div class="col-xs-12 col-sm-6 col-xl-3 d-flex">
                <div class="card card--product">
                    <div class="card__media">
                        <img src="{{ catalog[key].image }}" alt="">
                    </div>

                    <p class="card__title">{{ catalog[key].name }}</h4>
                    <p class="card__text">{{ catalog[key].text }}</p>
                    
                    <div class="card__buy mt-a">
                        <p class="color-red">{{ catalog[key].price }}</p>
                        <a href="#product-{{ key }}" class="btn btn--outline btn--block btn--xs covering-link js-product">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>